<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
	<script src="/lib/jquery.min.js"></script>
	
	<script src="/lib/underscore-min.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.js"></script>
	
	<!-- <script src="http://malsup.github.com/jquery.form.js"></script> -->
	<script src="/lib/jquery.form.js"></script>

	<script src="/lib/jquery.PrintArea.js"></script>

	<script src="/js/core.js"></script>
	<script src="/js/gs.database.js"></script>
	<script src="/js/saveBill-new.js"></script>
	

	<link rel="stylesheet" type="text/css" href="cssfile.css"/>
	<link rel="stylesheet" type="text/css" href="/lib/dataTables/dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" href="/lib/dataPicker/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" href="/css/spinner_lib/hue_spinner.css"/>

	<!-- <script src="/lib/customDateField/js/bootstrap-datetimepicker.min.js"></script>
	 <link rel="stylesheet" type="text/css" href="/lib/customDateField/css/bootstrap-combined.min.css"/> 
	<link rel="stylesheet" type="text/css" href="/lib/customDateField/css/bootstrap-datetimepicker.min.css"/> -->
    <script src="/js/customDate.js"></script>
   	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css"/>
   	<script src="/lib/dataTables/dataTables.min.js"></script>
 	<script src="/lib/dataPicker/jquery-ui.js"></script>
 	<script src = "/js/gs.pledgeBook.js"></script>
 	<script src = "/js/gs.billClosing.js"></script>
 	<script src = "/js/gs.querybuilder.js"></script>
 	<script src= "/js/gs.generateToken.js"></script>

 	<!--START: for Autocompleter -->
    <script type="text/javascript" src="autoCompleter/scripts/jquery.mockjax.js"></script>
    <script type="text/javascript" src="autoCompleter/src/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="autoCompleter/scripts/countries.js"></script>
    <link href="autoCompleter/content/styles.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/gs.autocompleter.js"></script>
 	<!--END: for Autocompleter -->

 	<!--START: for Webcam -->
 	<script type="text/javascript" src="/js/gs.webcam.js"></script>
<!--  	<link href="css/webcam.css" rel="stylesheet" />
 --> 	<!--END: for Webcam -->

 	<!-- START: for PHP webcam model -->
 	<script type="text/javascript" src="js/webcam.js"></script>
 	<!-- END: for PHP webcam model -->

 	<script type="text/javascript" src="/js/gs.export.js"></script>
 	<script type="text/javascript" src="/js/gs.spinner.js"></script>
 	<script type="text/javascript" src="/js/gs.popover.js"></script>

 	<script type="text/javascript" src="/js/qrcode.js"></script>

        <script type="text/template" id="newBillCreationTemplate" class="template">
    	<div class='row billCreation'>
    		<div class='row billHeader'>
    			<div class='ganeshJi' style='width: 10%; float: left;'>
    				<img class="center-block" src="/images/ganeshjiLogo.png" style="width: 53px; height:60px;">
    			</div>
    			<div class='shopName' style='width: 80%; float: left; text-align: center;'>
    				<p class='orgName'>BHOWRI DEVI</p>
    				<p class='orgType'>Pawn Broker</p>
    			</div>
    			<div class='lakshmiJi' style='width: 10%; float: left;'>
    				<img class="center-block" src="/images/lakshmijiLogo.jpg" style="width: 53px; height:60px;">
    			</div>
	    	</div>
			<div class="col-md-7 col-sm-7" style="border-right: 4px solid #BFB8B8;">
				<div class="row BillAndAmt">
					<div class="secondaryName billIdentity">
						<input id="billSeries" class="inputVal" type="text" style="width: 20px;" data-index="1"/>
						<input id="billNo" class="inputVal secondaryVal" type="number" style="width: 176px;" data-index="2"/>
						<div id="qrCodeImg" class="" style='display: none;'></div>
					</div>
					<div id="datetimepicker" class="input-append date">
				      <input type="text" id="date" class="inputVal inputValDate secondaryVal" data-index="3"></input>
				      <span class="add-on">
				        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				      </span>
				    </div>
					<div class="secondaryName" style="margin-top: 20px;">
					<img src="/images/rupeeIcon.png" style="width: 20px; height: 17px;">
						<input id="ammout" class="inputVal secondaryVal" type="number" placeholder='Amount' style="width: 156px;" data-index="4"/>
					</div>
				</div>

				<div class="row cName">
					<div class="secondaryName">
						<label class="inputLabel">Customer Name</label>
						<input id="customerName" class="inputVal secondaryVal" type="text" placeholder='CustomerName' data-index="5"/>
					</div>
					<div class="secondaryName">
						<label class="inputLabel">Father/Gaurdian Name</label>
						<input id="fatherGaurdianName" class="inputVal secondaryVal" type="text" placeholder='Father/Guardian Name' data-index="6" />
					</div>
				</div>
				<div class="row addr">
					<label class="inputLabel">Address 1</label>
					<input id="address" class="inputVal" class="inputVal" type="text" placeholder='Address' data-index="7"/>
				</div>
				<div class="row placeAndPin">
					<div class="secondaryName">
						<label class="inputLabel">Address2:</label>
						<input id="address2" class="inputVal secondaryVal" type="text" placeholder='Address2' data-index="8"/>
					</div>
					<div class="secondaryName">
						<label class="inputLabel">Place:</label>
						<input id="place" class="inputVal secondaryVal" type="text" placeholder='City' data-index="9"/>
					</div>
				</div>
				<div class="row contactAndMob">
					<div class="secondaryName">
						<label class="inputLabel">PIN:</label>
						<input id="pincode" class="inputVal secondaryVal" type="number" placeholder='PinCode' data-index="10" />
					</div>
					<div class="secondaryName">
						<label class="inputLabel">Mobile:</label>
						<input id="mobNo" class="inputVal secondaryVal" type="number" placeholder='Mobile No.' data-index="11"/>
					</div>
				</div>
				<div class="row ">
					<div class="secondaryName">
						<label class="inputLabel">Gross Wt:</label>
						<input id="ornNett" class="inputVal secondaryVal" type="text" placeholder='jewel Wt' data-index="12" />
					</div>
					<div class="secondaryName">
						<label class="inputLabel">Net Wt:</label>
						<input id="ornWeight" class="inputVal secondaryVal" type="text" placeholder='Net jewel Wt' data-index="13" />
					</div>
				</div>
				<div class="row ornamentDetails">
					<table>
						<colgroup>
							<col style="width: 30px">
	  						<col style="width: 170px">
	  						<col style="width: 100px">
	  						<col style="width: 50px">
						</colgroup>
						
						<thead>
							<tr>
								<th>S.N</th>
								<th>Ornaments</th>
								<th>Specification</th>
								<th>Nos</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="text" value="1" disabled/></td>
								<td><input type="text" class="newItem" data-index="14"/></td>
								<td><input type="text" data-index="15"/></td>
								<td><input type="text" class="appendRow" data-index="16"/></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row submit templateBox">
					<div class="viewBillDetails" data-toggle="billDetailsPopover" data-title="Options" data-class="viewBillDetailsPopover"></div>
					<input id="submitBill" type="button" value="Submit" class="submitBtn"/>
				</div>
				<input type="button" value= "print" class="printBill"/>
			</div>
			<div class="col-md-5 col-sm-5 dateAndImage sidePane">
				<div class="row imageConatiner">
					<div class="item-image"><img class="center-block" src="/uploads/default.jpg"></div>
					<div class="img_navigators">
						<label>
							<input type="button" class="img_navigator_start" style="display: none;" />
							<span class="secondaryNavFirst glyphicon glyphicon-backward disabled"></span>
						</label>
						<label>
							<input type="button" class="img_navigator_prev" value="Prev" style="float: left; display: none;" data-page = '-1' disabled />
							<span class="secondaryPrevBtn glyphicon glyphicon-chevron-left disabled"></span>
						</label>
						<label class="currLimit">1</label>&nbsp; out of &nbsp;
						<label class="maxLimit">1</label>
						<label>
							<input type="button" class="img_navigator_next" value="Next" style="float: right; display: none;" data-page = '1' disabled />
							<span class="secondaryNextBtn glyphicon glyphicon-chevron-right disabled"></span>
						</label>
						<label>
							<input type="button" class="img_navigator_end" style="display: none;" />
							<span class="secondaryNavEnd glyphicon glyphicon-forward disabled"></span>
						</label>
					</div>
					<input type="image" class="confirmImg" src="/images/toggle_up.png"/>
					<input type="image" class="editImg" src="/images/toggle_down.png"/>
					<div class='imageControls'>
						<input type="image" class="clearImg" src="/images/clear.png"/>
						<input type="image" class="takeSelfie" src="/images/camera.png"/>
						<form id="myForm" action="upload.php" method="post" enctype="multipart/form-data">
				    		 <input type="file" size="60" name="myfile" class="fileChooser" style="width: 90%; margin-left: 20px;">
				    		 <input type="submit" value="Upload" style="float: left; margin-left: 20px;">
				 		</form>
					  	</br>
					 	<div id="progress">
					        <div id="bar"></div>
					        <div id="percent">0%</div >
						</div>
					</div>
				</div>
				<div class="largeAmtDisplay">
					<input type='text' value='Rs: 0.00' disabled/>
				</div>
				<div class='col-sm-12 col-md-12 pendingBillListContainer'>
					<table>
					  	<colgroup>
							<col style="width: 50px">
							<col style="width: 76px">
							<col style="width: 120px">	
							<col style="width: 110px">
							<col style="width: 40px">
							<col style="width: 50px">
						</colgroup>
					    <thead>
					        <tr>
					        	<th>S No</th>
					        	<th>Bill No</th>
					        	<th>Pledge Date</th>
					            <th>Amount</th>
					            <th>Mnth</th>
					            <th>Orn</th>
					        </tr>
					    </thead>
					    <tbody>
					    	
					    </tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="webModalContainer" class="modal fade" role="dialog" data-backdrop="static">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Modal Header</h4>
		      </div>
		      <div class="modal-body">
		        <p>Some text in the modal.</p>
		      </div>
		     <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div> -->
		    </div>

		  </div>
		</div>
    </script>


    <script type="text/template" id="pledgeBookTemplate" class="template">
	    <table id="pendingDetails" class="display" cellspacing="0" width="100%">
	        <colgroup>
				<col style="width: 30px">
				<col style="width: 20px">
				<col style="width: 40px">
				<col style="width: 50px">
				<col style="width: 100px">
				<col style="width: 100px">
				<col style="width: 170px">
				<col style="width: 70px">
				<col style="width: 50px">
			</colgroup>
	        <thead>
	            <tr>
	            	<th>S No</th>
	            	<th></th>
	                <th>Bill No</th>
	                <th>Date</th>
	                <th>Customer Name</th>
	                <th>Care of</th>
	                <th>Address</th>
	                <th>Amount</th>
	                <th>Others</th>
	            </tr>
	            <tr id="filterInput">
	            	<th>serialNo</th>
	            	<th></th>
	                <th>BillNo</th>
	                <th>date</th>
	                <th>CustomerName</th>
	                <th>Father/Gaurdian Name</th>
	                <th>Address</th>
	                <th>Amount</th>
	                <th>details</th>
	            </tr>
	        </thead>
	        <tbody>
	            <% 
	            _.each(response, function(value , key){
	            	%>
	            	<tr>
	            	<td><%= key+1 %></td>
	            	<td><div class="<%= value.status%>"><span class="hidden<%= value.status%>"><%= value.status%></span></div></td>
	            	<td class="pledgeBillNo" title="<%= value.billNo%>"><%= value.billNo%></td>
	            	<td title="<%= value.dates%>"><%= value.dates%></td>
	            	<td title="<%= value.cname%>"><%= value.cname %></td>
	            	<td title="<%= value.fgname%>"><%= value.fgname%></td>
	            	<td title="<%= value.address + " " + ((value.address2)? ('- '+value.address2) : '') %>"><%= value.address + " " + ((value.address2)? ('- '+value.address2) : '') %></td>
	            	<td title="<%= value.amount%>"><%= value.amount%></td>
	            	<td>
	            		<div class="ornamentPopover"
	            			data-toggle = 'item-popover'
	            			data-placement = 'left'
	            			data-content = "<%= gs.pledgeBook.getDetails(value)  %>"
	            			data-html = "<%= gs.pledgeBook.getDetails(value) %>"
	            			data-title = "<p style='float :left;'><%= value.billNo%></p><p style='float :right;'><%= value.dates%></p>"
	            		> Details
	            		</div>
	            	</td>
	            	</tr>
			
		<% }); %>
	        </tbody>
	    </table>
	   
	   <div id="modalContainer" class="modal fade" role="dialog" data-backdrop="static">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Modal Header</h4>
		      </div>
		      <div class="modal-body">
		        <p>Some text in the modal.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default popup-editBill" id='popup-ModifyBill'>Edit</button>
		        <button type="button" class="btn btn-default" id="popup-closeBill">Bill Close</button>
		        <button type="button" class="btn btn-default" id="popup-openBill">Bill Open</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div>
		    </div>

		  </div>
		</div>
	<div id="alertMsgModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Modal Header</h4>
		      </div>
		      <div class="modal-body">

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		      </div>
		    </div>
		  </div>
	</div>
	<div id="confirmationModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Modal Header</h4>
	      </div>
	      <div class="modal-body">

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" id="confirmationSuccess">Ok</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>

    </script>
    <script type="text/template" id="billClosingTemplate" class="template">
    	<div class="row billClosing">
			<div class="billHeader">
					Pawn Broker
			</div>
			<div class="row">
				<div class="closingPanel col-md-3">
					<label>Bill No : </label></br>
					<input id="billToBeClosed" type="text" class=""/>
				</div>
				<div class="closingDate col-md-3">
						</br>
				      <input type="text" id="date" class="inputVal inputValDate secondaryVal" data-index="3"></input>
				      <span class="add-on">
				        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				      </span>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-2"></div>
				<div class="detailsHeader col-md-6">
					<div class="descHeader">
						<p id="closingBillNo" class="pull-left"></p>
						<p id="closingBillPledgeDate" class="pull-right"></p>
					</div>
					<div class="descBody">
						<div>
							<p id="closingCustomerName" class="BCcustomerName text-left col-md-5" title="Govindraj"></p>
							<label class="col-md-1">c/o</label>
							<p id="closingBillCareName" class="BCcareOfName text-center col-md-5" title="gopal"></p>
							<div class="clearfix"></div>
							<p id="closingBillAddress" class="BCaddress col-md-12 text-left"></p>
							<div class="clearfix"></div>
							<p id="closingBillLocation" class="BCplace col-md-6 text-left"></p>
							<div class="clearfix"></div>
							<p id="closingOrnWeight" class="BCweight text-left col-md-5"></p>
							<p id="closingPledgeAmt" class="BCamount text-right"></p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="BCimageContainer">
						<img id="closingCustomerPic" class="center-block" src="/uploads/default.jpg">
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-2"></div>
				<div class="col-md-6 BCOrnDiv">
					<table id="closingOrnDetails">
						<colgroup>
							<col style="width: 15px">
							<col style="width: 150px">
							<col style="width: 90px">
							<col style="width: 35px">
						</colgroup>
						<thead>
							<tr>
								<th>S.No</th>
								<th class="text-left">Item</th>
								<th>Spec</th>
								<th>Gram</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
					
				<div class="clearfix"></div>
				<div class="col-md-2"></div>
				<div class="billClosingCalcDetails col-md-6">
					<label class='pledgeDate'>DD/MM/YYYY</label>   -	 
					<label class='redeemDate'>DD/MM/YYYY</label></br>
					<div>
						<label class='col-md-2'>Principal </label><div class='col-md-8'></div><input id='principal_amt' class='col-md-2' type='number' value='0'/>
					</div>
					<div class="clearfix"></div>
					<div>
						<label class='col-md-2'>@Rate </label><div class='col-md-4'></div><input id='int_rate' class='col-md-2' type='number' value='0'/>
					</div>
					<div class="clearfix"></div>
					<div>
						<label class='col-md-2'>Mon&nbsp;*&nbsp;IntPerMon&nbsp;=&nbsp;IntAmt </label><div class='col-md-4'></div>
						<input id='int_amt_month' class='col-md-2' type='number' value='0'/>
						<input id='int_month' class='col-md-2' type='number' value='0'/>
						<input id='int_amt_total' class='col-md-2' type='number' value='0'/>

					</div>
					<div class="clearfix"></div>
					<div>
						<label class='col-md-2'>RedeemAmt </label><div class='col-md-8'></div><input id='total_amt' class='col-md-2' type='number' value='0'/></br>
					</div>
					<div class="clearfix"></div>
					<div>
						<label class='col-md-2'>less </label><div class='col-md-8'></div><input id='discount_amt' class='col-md-2' type='number' value='0'/></br>
					</div>
					<div class="clearfix"></div>
					<div>
						<label class='col-md-2'>Total&nbsp;Paid&nbsp;Amount</label><div class='col-md-8'></div><input id='paid_amt' class='col-md-2' type='number' value='0'/></br>
					</div>
				</div>
				<div class="col-md-2 closeButtonContainer">
					<select class="ui payment_mode dropdown">
					  <option value="0">Cash</option>
					  <option value="1">Card</option>
					  <option value="2">Cheque</option>
					</select>
					<input type="button" value="Close Bill" class="closeBillButton"/>
				</div>

			</div>
		</div>
		<div id="billCloseConfirmationModel" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Modal Header</h4>
		      </div>
		      <div class="modal-body">

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" id="confirmBillClose">Close This Bill</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div>
		    </div>
		  </div>
		</div>
    </script>
    <script type="text/template" id="webCammTemplate" class="template">
		<!-- camera screen -->
		<div id="camera_wrapper">
			<div id="camera"></div>
			<div id="show_saved_img"></div>
		</div>
		<div id='camera_controls'>
			<button id="capture_btn">Capture</button>
			<button id="webcamReset">Reset</button>
			<button id="deletePhoto">Delete</button>
			<button id="savePhoto">Save Photo</button>
		</div>		
    </script>

    <script type='text/template' id='tokenGeneratorTemplate' class='template'>
    	<div id="tokenMainDashlet" class='col-sm-12'>
	    	<div id='tokenInputArea' class='col-sm-5'>
	    		<label>Start No : </label><input id="startingTokenNo" type="text" class=""/></br>
	    		<label>End No : </label><input id="endingingTokenNo" type="text" class=""/></br>
	    	</div>
	    	<div id="tokenPreviewArea" class='col-sm-5'>
	    		
	    	</div>
	    </div>
    </script>
    <script type='text/template' id='tallyGeneratorTemplate' class='template'>
    	<div id="tallyContainer" class='col-sm-12'>
    		<div id="datetimepicker" class="input-append date">
		      <input type="text" id="date" class="inputVal inputValDate secondaryVal" data-index="3"></input>
		      <span class="add-on">
		        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
		      </span>
		    </div>
    		<table id="tallyTable">
    			<colgroup>
    				<col style="width: 150px">
    				<col style="width: 150px">
    				<col style="width: 150px">
    				<col style="width: 150px">
    			</colgroup>
    			<thead>
    				<tr>
    					<th>Type</th>
    					<th class="text-left">InSource</th>
    					<th>Outsource</th>
    					<th>InSource-Int</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    					<th>Girvi</th>
    					<th class="text-left">-</th>
    					<th>-</th>
    					<th>-</th>
    				</tr>
    				<tr>
    					<th>Redeemed</th>
    					<th class="text-left">-</th>
    					<th>-</th>
    					<th>-</th>
    				</tr>
    				<tr>
    					<th>Sales</th>
    					<th class="text-left">-</th>
    					<th>-</th>
    					<th>-</th>
    				</tr>
    				<tr>
    					<th>Expenses</th>
    					<th class="text-left">-</th>
    					<th>-</th>
    					<th>-</th>
    				</tr>
    				<tr>
    					<th>Total</th>
    					<th class="text-left">-</th>
    					<th>-</th>
    					<th>-</th>
    				</tr>
    			</tbody>
    		</table>	    	
	    </div>
    </script>
    

</head>
<body>
	<div class="tab">
		<div class="menuTop">
  			<div class="menuBar">
				<ul class="leftMenus">
      				<li class="home">Home
      					<div class="dropdownLabel"></div>
      					
      				</li>
      				<li class="tools">Tools
      					<div class="dropdownLabel"></div>
      					<div class="dropdown">
      						<ul class="tools-list">
      							<li id="createNewBill">Bill Creation </li>
      							<li id="closeABill"> Bill Closing </li>
      							<li id="getPledgeBook"> Pledge Book </li>
      						</ul>
      					</div>
      				</li>
      				<li class="settings">Settings
      					<div class="dropdownLabel"></div>
      					<div class="dropdown">
      						<ul class="tools-list">
      							<li id='tallyGenerator'> Tally </li>
      							<li id='tokenGenerator'> Generate Token </li>
      							<li> Add Customer </li>
      						</ul>
      					</div>
      				</li>
  				</ul>
    		</div>
  		</div>
	</div>
	<div class="mainContent">

	</div>

	
</body>
</html>