<div id="tallyContainer" class='col-sm-12'>
	<div id="datetimepicker" class="input-append date">
      <input type="text" id="date" class="inputVal inputValDate secondaryVal" data-index="3"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
	<table id="tallyTable">
		<colgroup>
			<col style="width: 150px">
			<col style="width: 150px">
			<col style="width: 150px">
			<col style="width: 150px">
		</colgroup>
		<thead>
			<tr>
				<th>Type</th>
				<th class="text-left">InSource</th>
				<th>Outsource</th>
				<th>InSource-Int</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Girvi</th>
				<th class="text-left">-</th>
				<th>-</th>
				<th>-</th>
			</tr>
			<tr>
				<th>Redeemed</th>
				<th class="text-left">-</th>
				<th>-</th>
				<th>-</th>
			</tr>
			<tr>
				<th>Sales</th>
				<th class="text-left">-</th>
				<th>-</th>
				<th>-</th>
			</tr>
			<tr>
				<th>Expenses</th>
				<th class="text-left">-</th>
				<th>-</th>
				<th>-</th>
			</tr>
			<tr>
				<th>Total</th>
				<th class="text-left">-</th>
				<th>-</th>
				<th>-</th>
			</tr>
		</tbody>
	</table>	    	
</div>