<div class='row'>
	<div class='col-sm-12 ornInputContainer'>
		<select class="ui orn_type">
		  <option value="0">G</option>
		  <option value="1">S</option>
		  <option value="2">B</option>
		</select>
		<input type='text' class='ornInputField' placeholder='Enter Ornament Name' />
		<input type='button' value="Add" id='addNewOrn'/>
	</div>
	<div class="ornListContainer col-sm-12">
		<table id='ornManagementTable'>
			<colgroup>
				<col style="width: 50px">
				<col style="width: 300px">
				<col style="width: 100px">
			</colgroup>
			<thead>
				<tr>
					<th>S.No</th>
					<th>Ornament Name</th>
					<th style="text-align: center;"><img class="delete-selected-orn" src="/images/delete-icon.png" title="Delete Selected"></img></th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>